<div class="container w-25">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <input type="text" class="form-control" formControlName="id" placeholder="Id" />
    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" />
    <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos" />
    <input type="text" class="form-control" formControlName="curso" placeholder="Curso">
    <input type="text" class="form-control" formControlName="edad" placeholder="Edad">
    <button class="btn btn-dark" type="submit">Enviar</button>
  </form>
  <button class="btn btn-primary" routerLink="">Volver</button>

</div>
